{% include 'adminheader.html'%}

<style type="text/css">
	
	html {
  height: 100%;
}
body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
}

.login-box {
  margin-bottom: 0px !important;
  width: 400px;
  position: relative;
  top: 40rem;
  left: 12rem;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
    color: white
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #030303;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}


.login-box{
 
    margin: 3rem auto;
  }

</style>


<!-- <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD3MPnSnyWwNmpnVEFkaddVvy_GWtxSejs&sensor=false"></script>
    <script type="text/javascript">
        // window.onload = function () {
          function myFunction(){
            var mapOptions = {
                center: new google.maps.LatLng(9.9763482, 76.286272),
                zoom: 14,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var infoWindow = new google.maps.InfoWindow();
            var latlngbounds = new google.maps.LatLngBounds();
            var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
            google.maps.event.addListener(map, 'click', function (e) {
                alert("Latitude: " + e.latLng.lat() + "\r\nLongitude: " + e.latLng.lng());
              document.getElementById('lat').value = e.latLng.lat();
                document.getElementById('lon').value = e.latLng.lng();
           

            });
        }
    </script>



<div class="clearfix"> </div>
        </div>
      </div>
      <div class="w3layouts-banner">
        <div class="container">
          <section class="slider">
            <div class="flexslider">

             
<div class="login-box">
  <h2>Manage  / Add mechanic</h2>
     
  <form class="frm" method="post">
{% if data['mechanicupdate']%}
 
    <div class="user-box">
      <input type="text" required="" value="{{data['mechanicupdate'][0]['firstname']}}" name="fname">
      <label>First Name</label>
    </div>

    <div class="user-box">
      <input type="text" required="" value="{{data['mechanicupdate'][0]['lastname']}}" name="lname">
      <label>Last Name</label>
    </div>

<div class="user-box">
      <input type="text" required="" value="{{data['mechanicupdate'][0]['place']}}" name="place">
      <label>Place</label>
    </div>

    <div class="user-box">
      <input type="text" required="" value="{{data['mechanicupdate'][0]['phone']}}" name="phone">
      <label>Phone</label>
    </div>

    <div class="user-box">
      <input type="text" required="" value="{{data['mechanicupdate'][0]['email']}}" name="email">
      <label>Email</label>
    </div>

      <div >
    <input type="submit" name="upset" align="center"  class="btn btn-success"  value="submit" >
</div>

    {% else %}

     <div class="user-box">
      <input type="text" required=""  name="fname">
      <label>First Name</label>
    </div>

    <div class="user-box">
      <input type="text" required="" name="lname">
      <label>Last Name</label>
    </div>

     <div class="user-box">
      <input type="text" required=""  name="place">
      <label>Place</label>
    </div>

    <div class="user-box">
      <input type="text" required="" name="phone">
      <label>Phone</label>
    </div>

    <div class="user-box">
      <input type="text" required=""  name="email">
      <label>Email</label>
    </div>

<div><a class="btn btn-success" onclick="myFunction();"><b>View Map</b></a></div>
     <div class="user-box">
     <input type="text" name="lat"  class="form-control" id="lat">
            
    
    </div>



 <div class="user-box">
     <input type="text" name="lon"  class="form-control" id="lon">
     
    </div>

    <div class="user-box">
      <input type="text" required="" name="uname">
      <label>Username</label>
    </div>

    <div class="user-box">
      <input type="text" required=""  name="pwd">
      <label>Password</label>
    </div>
    
         
      
     <div >
   <input type="submit" name="mechanic" align="center" class="btn btn-success" value="submit" >
    </div>
   

 
   
      {% endif %}    

   
  </form>
<div>
  <div id="dvMap" style="width: 600px; height: 400px"></div>
</div>

</div>



    

            </div>
        </section>
      <!-- flexSlider -->
        <script defer src="/static/js/jquery.flexslider.js"></script>
        <script type="text/javascript">
          $(window).load(function(){
            $('.flexslider').flexslider({
            animation: "slide",
            start: function(slider){
              $('body').removeClass('loading');
            }
            });
          });
        </script>
      <!-- //flexSlider -->
        </div>
      </div>
    </div>
  </div>
<!-- //banner -->
				 -->

              
	
			
<center>
	<h2 style="color: white">view mechanic</h2>

	<table class="styled-table">
    <thead>
        <tr>
           <th>sino</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Place</th>
				<th>Phone</th>
				<th>Email</th>
        <th></th>
       
        </tr>
    </thead>
    <tbody>
       {% for row in data['mechanicview']%}
    	<tr>
    		<td>{{loop.index}}</td>
    		<td>{{row['firstname']}}</td>
    		<td>{{row['lastname'] }}</td>
          <td>{{row['place'] }}</td>
            <td>{{row['phone'] }}</td>
              <td>{{row['email'] }}</td>
              <td><a href="/{{row['image']}}"><img src="/{{row['image']}}" width="100" height="100"></a></td>
               <td><a class="btn btn-primary" href="http://www.google.com/maps?q= {{row['latitude']}} ,{{row['longitude']}}">Click Me</a></td>


               {% if row['usertype']=="pending"%}
    	
    		
    		<td><a class="btn btn-success" href="?action=accept&mid={{row['login_id']}}">Accept</a></td>
          <td><a class="btn btn-success" href="?action=reject&mid={{row['login_id']}}">Reject</a></td>

          {% endif %}
    	</tr>
    	{% endfor %}

    </tbody>
</table>




</center>
{% include 'footer.html'%}