{% include 'adminheader.html'%}


<style type="text/css">
	
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}


.styled-table th,
.styled-table td {
    padding: 12px 15px;
    color: white
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
     background-color: #030303;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}


.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

</style>

<br><br><br><br><br><br>
<center>
	<h1 style="color: white">view  Mechanic complaint</h1>
	<form>
			<table class="styled-table">
    <thead>
			<tr>
				<th>sino</th>

                <th>Mechanic</th>
				
				
				
				<th>Complaint</th>
				
				<th>date</th>
				<th>Reply</th>
				
				
			</tr>
		</thead>
			{% for row in data['mechanicview']%}

			 <tbody>
    	<tr>
    		<td>{{loop.index}}</td>
            <td>{{row['firstname']}}{{row['lastname']}}</td>
    		
    		<td>{{row['complaint'] }}</td>
    		
    		<td>{{row['date']}}</td>
    		{% if row['reply']=="pending"%}
    		<td><a class="btn btn-success" href="admin_sendreply?cid={{row['complaint_id']}}">Send Reply</a></td>
    		{% else %}

    		<td>{{row['reply']}}</td>
    		{% endif %}
    		
    	      
    		
    	</tr>
    	{% endfor %}
    </tbody>
   
		</table>
	</form>
</center>





<br><br><br><br><br><br>
<center>
    <h1 style="color: white">view  User  complaint</h1>
    <form>
            <table class="styled-table">
    <thead>
            <tr>
                <th>sino</th>

                <th>Users Name</th>
                
                
                
                <th>Complaint</th>
                
                <th>date</th>
                <th>Reply</th>
                
                
            </tr>
        </thead>
            {% for row in data['userview']%}

             <tbody>
        <tr>
            <td>{{loop.index}}</td>

             <td>{{row['first_name']}}{{row['last_name']}}</td>
            
            <td>{{row['complaint'] }}</td>
            
            <td>{{row['date']}}</td>
            {% if row['reply']=="pending"%}
            <td><a class="btn btn-success" href="admin_sendreply?cid={{row['complaint_id']}}">Send Reply</a></td>
            {% else %}

            <td>{{row['reply']}}</td>
            {% endif %}
            
              
            
        </tr>
        {% endfor %}
    </tbody>
   
        </table>
    </form>
</center>




<br><br><br><br><br><br>
<center>
    <h1 style="color: white">view  Bunk complaint</h1>
    <form>
            <table class="styled-table">
    <thead>
            <tr>
                <th>sino</th>
                
                <th>Bunk name</th>
                
                <th>Complaint</th>
                
                <th>date</th>
                <th>Reply</th>
                
                
            </tr>
        </thead>
            {% for row in data['bunkview']%}

             <tbody>
        <tr>
            <td>{{loop.index}}</td>

             <td>{{row['name']}}</td>
            
            <td>{{row['complaint'] }}</td>
            
            <td>{{row['date']}}</td>
            {% if row['reply']=="pending"%}
            <td><a class="btn btn-success" href="admin_sendreply?cid={{row['complaint_id']}}">Send Reply</a></td>
            {% else %}

            <td>{{row['reply']}}</td>
            {% endif %}
            
              
            
        </tr>
        {% endfor %}
    </tbody>
   
        </table>
    </form>
</center>





<br><br><br><br><br><br>
<center>
    <h1 style="color: white">view  sparepart complaint</h1>
    <form>
            <table class="styled-table">
    <thead>
            <tr>
                <th>sino</th>

                <th>Company Name</th>
                
                
                
                <th>Complaint</th>
                
                <th>date</th>
                <th>Reply</th>
                
                
            </tr>
        </thead>
            {% for row in data['sparepartview']%}

             <tbody>
        <tr>
            <td>{{loop.index}}</td>

              <td>{{row['firstname']}}{{row['lastname']}}</td>
            
            
            <td>{{row['complaint'] }}</td>
            
            <td>{{row['date']}}</td>
            {% if row['reply']=="pending"%}
            <td><a class="btn btn-success" href="admin_sendreply?cid={{row['complaint_id']}}">Send Reply</a></td>
            {% else %}

            <td>{{row['reply']}}</td>
            {% endif %}
            
              
            
        </tr>
        {% endfor %}
    </tbody>
   
        </table>
    </form>
</center>
{% include 'footer.html'%}